<div class="_404 page">
  <img src="/assets/KosayaStepIconBW.svg" alt="" class="icon" />
  <div class="h1"><h1>404</h1></div>
  <div class="container">
    <div class="text">
      <b>Нам очень жаль, но такой страницы не существует.</b>
      <br /><br />
      Возможно, она устарела, была удалена, либо в адрес ссылки вкралась ошибка.
      Попробуйте найти интересующие вас материалы через
      <a routerLink="/">главную страницу</a> сайта или
      <a routerLink="/" fragment="contacts">свяжитесь</a> с нами.
    </div>
  </div>
</div>
