@import 'variables';
@import 'mixin';
.page._404 {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-size: cover;
  background-position: center 25%;
  background-image: url('/assets/404/404-main.jpg');
  @include media-down($media-md) {
    background-image: url('/assets/404/404-main-mobile.jpg');
  }
}

.container {
  max-width: 700px;
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  @include media-down($media-md) {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    color: black;
    line-height: 32px;
  }

  a {
    color: currentColor;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
    padding: 0 3px;
  }
}

img {
  position: absolute;
  top: 40px;
  left: calc(50% - 43px);
  @include media-up($media-md) {
    top: 10px;
    left: 20px;
  }
}

.h1 {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
