@import 'style/mixin';
@import 'style/variables';
@import 'style/modal';
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #b0cb1f !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.mobile {
  @include media-up($media-md) {
    display: none !important;
  }
}

.desktop {
  @include media-down($media-md) {
    display: none !important;
  }
}

body {
  font-family: 'Montserrat', serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

gallery-thumbs .g-slider gallery-thumb,
lightbox gallery {
  background-color: #9e9e9c !important;
}
gallery-core[counterPosition='top'] .g-counter {
  margin-left: -60px;
}

.modal {
  z-index: 1000 !important;
}
