<div class="header" [class.main]="mainPage.isActive">
  <div class="burger mobile" (click)="toggleCollapse()">
    <button
      class="hamburger hamburger--spring"
      type="button"
      [class.is-active]="!collapse"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div
    class="navigation-links mobile"
    [class.main]="mainPage.isActive"
    [@collapse]="collapse"
    (click)="toggleCollapse()"
  >
    <a
      routerLinkActive="active-link"
      routerLink="/"
      #mainPage="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      >Главная</a
    >
    <a routerLinkActive="active-link" routerLink="/history">История</a>
    <a routerLinkActive="active-link" routerLink="/news">Новости</a>
    <a routerLinkActive="active-link" routerLink="/concept"
      >Концепция развития</a
    >
    <a routerLinkActive="active-link" routerLink="/" fragment="contacts"
      >Контакты</a
    >
  </div>
  <div class="navigation-links desktop">
    <a
      routerLinkActive="active-link"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="/assets/KosayaStepIcon.svg" alt="" />
    </a>
    <a routerLinkActive="active-link" routerLink="/history">История</a>
    <a routerLinkActive="active-link" routerLink="/news">Новости</a>
    <a routerLinkActive="active-link" routerLink="/concept"
      >Концепция развития</a
    >
    <a routerLinkActive="active-link" routerLink="/" fragment="contacts"
      >Контакты</a
    >
  </div>
  <img class="lines desktop" src="/assets/stripes2 1.svg" alt="" />
  <div class="hart mobile">
    <img src="/assets/KosayaStepIcon.svg" alt="" />
  </div>
</div>
