<div class="footer">
  <img class="lines" src="/assets/zagl_logo-lines.svg" alt="" />
  <div class="container">
    <div class="contacts" id="contacts">
      <div class="title">КОНТАКТЫ</div>
      <a href="mailto:kosayastep@yandex.ru">
        <img src="/assets/icon-mail.svg" alt="" />
        kosayastep@yandex.ru
      </a>
      <a href="mailto:admkuretmo@yandex.ru">
        <img src="/assets/icon-mail.svg" alt="" />
        admkuretmo@yandex.ru
      </a>
      <a href="https://vk.com/irkologiia">
        <img src="/assets/icon-vk.svg" alt="" />
        РОПО “ИРКОЛОГИЯ” во ВКонтакте
      </a>
      <a href="https://vk.com/voopiik_irk">
        <img src="/assets/icon-vk.svg" alt="" />
        ИРО ВООПИК во ВКонтакте
      </a>
      <a href="http://xn----7sbmfyk4arg7g.xn--p1ai/">
        <img src="/assets/icon-vk.svg" alt="" />
        Сайт администрации Куретского МО
      </a>
    </div>
    <div class="links">
      <a href="https://www.tradizia.com/" class="link tradicia">
        <img src="/assets/contact-tradicia.svg" alt="" />
        <span>ООО НПРФ “Традиция”</span>
      </a>
      <a href="http://voopik.ru/region/38" class="link voopic">
        <img src="/assets/contact-voopik.svg" alt="" />
        <span>ИРО ВООПИК</span>
      </a>
      <a href="https://www.irkologia.ru/" class="link irkology">
        <img src="/assets/contact-irkologia.svg" alt="" />
        <span>РОПО “ИРКОЛОГИЯ”</span>
      </a>
      <a href="http://xn----7sbmfyk4arg7g.xn--p1ai/" class="link kmo">
        <img src="/assets/contact-kmo.svg" alt="" />
        <span>Куретское МО</span>
      </a>
      <a
        href="https://xn--80aeeqaabljrdbg6a3ahhcl4ay9hsa.xn--p1ai/"
        class="link pfkn"
        style="grid-area: e"
      >
        <img src="/assets/contact-pfkn.svg" alt="" />
        <span style="font-size: 11px"
          >&#xa9; Фирменный стиль Агентство маркетинга территорий “Geobrand”
          2022</span
        >
        <span style="font-size: 11px"
          >&#xa9; Фотографии Сергей Мядзелец 2022</span
        >
      </a>
    </div>
  </div>
</div>
