@import 'variables';
@import 'mixin';

.page.concept {
  color: #254a53;
}

.image {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    min-height: 180px;
  }
  &:after {
    display: block;
    content: '';
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(238, 238, 238, 1) 20%,
      rgba(0, 0, 0, 0) 100%
    );
    @include media-down($media-md) {
      height: 30px;
    }
  }
}

.text {
  margin: auto;
  display: grid;
  padding: 80px 20px 100px;
  width: 100%;
  max-width: 700px;

  .title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.research-docs {
  max-width: 700px;
  max-height: calc(1em + 5px);
  overflow: hidden;
  margin: 0 auto 40px;
  padding: 3px 20px;
  transition: 400ms;

  &.expanded {
    max-height: 900px;
    .arrow {
      transform: rotate(-135deg);
    }
  }

  &--title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 60px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    .arrow {
      width: 14px;
      height: 14px;
      border-right: 2px currentColor solid;
      border-bottom: 2px currentColor solid;
      transform: rotate(45deg);
      transition: 400ms;
    }
  }

  &--subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 50px 0 50px;
  }

  &--item {
    display: grid;
    align-items: center;
    grid-template-columns: 32px auto;
    grid-gap: 26px;
    text-decoration: none;
    color: #000;
    margin-bottom: 22px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: auto;
  width: 100%;
  &--item {
    flex-shrink: 0;
    flex-basis: 33%;
    padding: 10px;
    flex-grow: 1;
  }
  &--title {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #919191;
    margin-top: 10px;
  }
  &--image {
    padding-top: 100%;
    background-position: center;
    width: 100%;
  }
}

[gallery='reports'] .gallery--image {
  padding-top: 66.66%;
}
[gallery='scans'] {
  flex-basis: 100%;
  .gallery--image {
    padding-top: 30.3%;
  }
}

.project-materials {
  padding: 80px 20px 100px;
  display: grid;
  max-width: 700px;
  margin: 40px auto;
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .subtitle {
    margin: 45px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .plans {
    display: flex;
    flex-wrap: wrap;
    &--item {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: currentColor;
      margin-bottom: 24px;
      &:nth-child(odd) {
        padding-right: 20px;
      }
      @include media-down($media-md) {
        flex-basis: 100%;
        &:nth-child(odd) {
          padding-right: initial;
        }
      }
      img {
        margin-right: 20px;
      }
    }
  }
}

.lines {
  width: 100%;
  height: min(27vh, 184px);
  object-fit: cover;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 40px 0;
  color: #000000;
}

.authors {
  display: flex;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  flex-wrap: wrap;
  text-align: right;

  .creators {
    padding-right: 20px;
    @include media-down($media-md) {
      padding-right: 0;
    }
    margin-bottom: 30px;
    flex-grow: 1;
    &--item {
      margin-bottom: 12px;
    }
  }

  .workers {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: auto auto;
    .work {
      font-style: italic;
      text-align: right;
      font-weight: 300;
    }
    .name {
      line-height: 22px;
    }
  }
}

.greats {
  display: flex;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  color: #000;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}
