<div class="concept page">
  <div class="image"><img src="/assets/concept/IMG_9649 1.jpg" alt="" /></div>
  <div class="text">
    <div class="title">ЧТО ТАКОЕ КОНЦЕПЦИЯ РАЗВИТИЯ?</div>
    <div class="description">
      Это набор решений, которые зададут направления для позитивных изменений в
      жизни села. Косая Степь обладает огромным потенциалом, который сейчас не
      используется. Концепция предлагает ряд идей, которые могут воплощать
      жители, местные власти или сторонние инвесторы.
    </div>
  </div>
  <div class="image"><img src="/assets/concept/IMG_9676 1.jpg" alt="" /></div>
  <div class="text">
    <div class="title">В ЧЁМ ЕЁ ОСНОВНАЯ ИДЕЯ?</div>
    <div class="description">
      “Всё начинается здесь” – эти слова действительное как нельзя лучше
      подходят к Косой Степи! Именно отсюда в 18 веке началось освоение русскими
      Приольхонья, а сейчас, в 21 столетии, Косая Степь – первый населённый
      пункт Ольхонского района, встречающий гостей по дороге на Байкал.
      <br /><br />
      Из-за того, что здесь пересекаются 2 тракта, старый, соединявший побережье
      озера с поселениями на Верхней Лене, и новый, проложенный уже в 20 веке до
      о. Ольхон, Косая Степь оказалась на своеобразном перекрёстке.
      Отправляетесь на Малое Море или Ольхон? Вам не минуть Косую Степь!
      Собрались в Бугульдейку, полюбоваться мраморным карьером? Не пропустите
      поворот, он, кстати, в Косой Степи. Хотите освоить старинный тракт и
      проехать до Манзурки, а то и до самого Верхоленска тем путём, которым не
      раз проезжали жители Иркутской губернии в прошлом? Езжайте по главной
      улице Косой Степи на север, и дальше, дальше по дороге... <br /><br />
      Постойте, а может, вам и не надо никуда ехать? И вы просто хотите
      отдохнуть, пособирать луговую клубнику (здесь эту ягоду называют просто
      “пёстрая”). собрать в лесу чернокислицу, поесть пряжеников? Заглянуть на
      староцерковное кладбище, полюбоваться на домики с резными наличниками и
      аккуратными палисадниками, посидеть за ткацким станком? Тогда заглядывайте
      в Косую Степь – путешествие начинается здесь!
    </div>
  </div>
  <div class="image"><img src="/assets/concept/IMG_0481 1.jpg" alt="" /></div>
  <div class="text">
    <div class="title">НА ЧЁМ ОСНОВАНА КОНЦЕПЦИЯ?</div>
    <div class="description">
      Проектной работе предшествовали разносторонние исследования села. Они
      помогли получить всестороннее представление о селе и его окружении,
      выявить потенциал для дальнейшего развития, наметить точки и смыслы,
      вокруг которых будет строиться будущая концепция или отдельные её
      элементы. В результате проведённых исследований были определены основные
      направления для работы над концепцией.
    </div>
  </div>
  <div class="research-docs" [class.expanded]="isExpandDocs">
    <div class="research-docs--title" (click)="toggleExpandDocs()">
      <div>Ознакомиться с результатами исследований</div>
      <div class="arrow"></div>
    </div>
    <a
      class="research-docs--item"
      [href]="research.href"
      *ngFor="let research of researches"
    >
      <img src="/assets/icon-pdf.jpg" alt="" />
      <span class="research-docs--text">{{ research.name }}</span>
    </a>
  </div>
  <div class="research-docs expanded">
    <div class="research-docs--subtitle">
      Кроме исследований перед разработкой проектных решений также была
      проведена ссесия соучаствующего проектирования с жителями села.
    </div>
    <a
      class="research-docs--item"
      target="_blank"
      href="/assets/concept/Отчет_о_соучаствующем_проектировании.pdf"
    >
      <img src="/assets/icon-pdf.jpg" alt="" />
      <span class="research-docs--text"
        >Отчёт по результатам соучаствующего проектирования</span
      >
    </a>
  </div>
  <div class="gallery" style="margin-bottom: 80px">
    <div
      class="gallery--item"
      *ngFor="let item of getImageItems(galleries['reports']); let i = index"
      [lightbox]="i"
      gallery="reports"
    >
      <div
        class="gallery--image"
        [style]="{
          backgroundImage:
            'url(' +
            (item.data.thumb ? item.data.thumb : galleries['reports'][i].src) +
            ')'
        }"
      ></div>
      <div class="gallery--item__title" *ngIf="item.data.alt">
        {{ item.data.alt }}
      </div>
    </div>
  </div>
  <div class="image"><img src="/assets/concept/IMG_9733 1.jpg" alt="" /></div>
  <div class="project-materials">
    <div class="title">ПРОЕКТНЫЕ МАТЕРИАЛЫ</div>
    <div class="subtitle">ОБЩИЕ СХЕМЫ</div>
    <div class="zoomBlock">
      <div class="title">Схема благоустройства</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="
          showImageZoomPopup('/assets/concept/Схема благоустройства_01.jpg')
        "
      >
        <img src="/assets/concept/Схема благоустройства_01.jpg" />
      </pinch-zoom>
      <p>
        В рамках концепции предлагается базовое благоустройство территории села,
        которое заключается в следующих мерах:
      </p>
      <ol>
        <li>
          Устройство тротуаров двух видов: с деревянным покрытием – на тех
          улицах, где предполагаются в том числе туристические активности и
          расположение общественных пространств, и из мелкого щебня – на всех
          остальных улицах
        </li>
        <li>
          Размещение общественных туалетов в местах скопления большого
          количества людей
        </li>
        <li>Локальное благоустройство набережной р. Бугульдейки</li>
        <li>
          Оборудование 2 детских площадок в 2 частях села (по разные стороны от
          трассы)
        </li>
        <li>Размещение скамеек, беседок в общественных зонах</li>
      </ol>
    </div>
    <div class="zoomBlock">
      <div class="title" style="font-size: 14px">Схема транспортная</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="
          showImageZoomPopup('/assets/concept/Схема транспортная_01.jpg')
        "
      >
        <img src="/assets/concept/Схема транспортная_01.jpg" />
      </pinch-zoom>
      <p>
        Обустраивается несколько общедоступных парковок: возле кафе и сувенирной
        лавки на улице Верховой, возле кафе и ярмарочной площади, около
        Староцерковного кладбища, рядом с песчаным карьером, где также
        обустраивается общественное пространство. Также предусматриваются
        парковочные места на участках возле общественных зданий (в т.ч. возле
        сельского клуба, фельдшерско-акушерского пункта). На всех парковках
        предусмотрены места для автомобилей МГН согласно действующим нормативам.
      </p>
      <p>
        В целом сохраняются сложившиеся транспортно-пешеходные связи,
        существующая система лишь совершенствуется несколькими изменениями и
        дополнениями:
      </p>
      <ol>
        <li>
          Главное изменение в организации транспортной инфраструктуре села – это
          реконструкция моста через р. Бугульдейку и обеспечение проезда по нему
          автотранспорта. Это ключевое изменение поможет связать основную часть
          села с Заречной стороной (сейчас другую можно только через трассу).
        </li>
        <li>
          Также переносится один из мостов через р. Харик (в районе улицы Нижний
          Захарик) по другую сторону трассы, чтобы можно было пересекать тракт
          поперёк, направляясь из одной части села в другую – современное
          положение моста вынуждает проезжать короткий участок трассы.
        </li>
        <li>
          В местах сообщения частей села через трассы устраиваются пешеходные
          переходы
        </li>
        <li>
          Местоположение старого тракта Верхоленск – Бугульдейка (современные
          улицы Верховая и Верхний Захарик) обозначается в натуре указателями и
          информационными щитами.
        </li>
      </ol>
    </div>
    <div class="zoomBlock">
      <div class="title">
        Схема точек притяжения и распределения туристических активностей
      </div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="
          showImageZoomPopup(
            '/assets/concept/Схема_размещения_точек_притяжеия_и_распределения_активностей.jpg'
          )
        "
      >
        <img
          src="/assets/concept/Схема_размещения_точек_притяжеия_и_распределения_активностей.jpg"
        />
      </pinch-zoom>
      <p>
        Точки притяжения сложно поделить на типы в рамках одной классификации,
        так как один и тот же объект может одновременно относиться к разным
        категориям. Тем не менее, отдельного упоминания заслуживают объекты,
        представляющие историко-культурный интерес. К ним относятся:
      </p>
      <ul>
        <li>
          памятники архитектуры и другие старые постройки (до нач. 20 в.
          включительно), не обладающие охранным статусом, но обладающие
          интересными архитектурно-стилистическими и историческими
          характеристиками, в т.ч. воссоздаваемое здание бывшей школы на главной
          площади;
        </li>
        <li>
          место ранее существовавшей церкви (воссоздание которой планируется в
          том или ином виде);
        </li>
        <li>Староцерковное кладбище.</li>
      </ul>
      <p>Остальные точки притяжения можно инфраструктуру:</p>
      <ul>
        <li>сельский клуб;</li>
        <li>фельдшерско-акушерский пункт (переносимый);</li>
        <li>
          спортивная и детская площадки (проектируемые возле клуба и
          реконструируемая по другую сторону трассы);
        </li>
        <li>
          продовольственный магазин (проектируемый, предполагается его
          размещение в воссоздаваемом здании бывшей школы);
        </li>
        <li>
          кафе с сувенирной лавкой (проектируемые на месте неиспользуемого ныне
          участка);
        </li>
        <li>туристско-информационный центр (проектируемый);</li>
        <li>
          кафе с ярмарочной площадью (проектируемые на основе ныне не
          функционирующего кафе);
        </li>
        <li>
          рекреационная зона возле р. Бугульдейки (проектируемое
          благоустройство);
        </li>
        <li>
          верёвочный парк в песчаном карьере в связке со смотровыми площадками
          (проектируемые);
        </li>
        <li>гостевые дома (проектируемые);</li>
        <li>АЗС (проектируемая);</li>
        <li>въездной знак (проектируемый).</li>
      </ul>
      <p>
        Отдельно стоит выделить также главную площадь в целом как центральный
        планировочный элемент села, и проектируемую на базе одного из объектов
        культурного наследия по улице Верховой арт-резиденцию. Эти объекты
        максимально сочетают в себе историко-культурную современной
        инфраструктурой.
      </p>
      <p>
        Основные туристические активности распределяются по следующим точкам:
      </p>
      <ul>
        <li>главная площадь;</li>
        <li>ярмарочная площадь с кафе;</li>
        <li>
          сельский клуб (на его базе проводятся экскурсии, мастер-классы и др.
          мероприятия);
        </li>
        <li>туристско-информационный центр;</li>
        <li>арт-резиденция на ул. Верховой, 11;</li>
        <li>Староцерковное кладбище;</li>
        <li>
          т.н. “Crazy House” – заброшенный дом по улице Верховой, привлекающий
          гостей села надписями на фасадах и ограждениях;
        </li>
        <li>верёвочный парк и смотровые площадки;</li>
        <li>рекреационная зона возле р. Бугульдейки;</li>
        <li>гостевые дома;</li>
        <li>модульный отель и глэмпинг;</li>
        <li>
          места неподалёку от села, предназначенные для сбора трав, ягод и
          грибов, пешие, конные и велосипедные маршруты;
        </li>
        <li>пункт проката инвентаря и снаряжения;</li>
        <li>потенциально – старый тракт в направлении к Верхоленску.</li>
      </ul>
      <p>
        Меньше всего в туризме задействована Заречная часть села, что
        обусловлено, в первую очередь, её обособленным расположением и
        отсутствием там общественных пространств и учреждений, а также малой
        концентрацией объектов, представляющих историко-культурный интерес.
      </p>
      <p>
        Точки притяжения для местных жителей частично пересекаются с
        туристической инфраструктурой – это такие точки и места, как:
      </p>
      <ul>
        <li>
          главная площадь с церковью и воссозданным зданием школы, где
          размещается в том числе магазин;
        </li>
        <li>ярмарочная площадь;</li>
        <li>сельский клуб;</li>
        <li>Староцерковное кладбище;</li>
        <li>рекреационная зона возле р. Бугульдейки;</li>
        <li>
          места, предназначенные для сбора трав, ягод и грибов, прогулочные
          маршруты.
        </li>
      </ul>
      <p>
        Но также можно выделить объекты, которые рассчитаны в первую очередь на
        сельчан, такие как:
      </p>
      <ul>
        <li>спортивная и детские площадки;</li>
        <li>заготовительный цех.</li>
      </ul>
    </div>

    <div class="zoomBlock">
      <div class="title">Схема расположения решений концепции</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="
          showImageZoomPopup(
            '/assets/concept/Схема_размещения_решений_концепции.jpg'
          )
        "
      >
        <img src="/assets/concept/Схема_размещения_решений_концепции.jpg" />
      </pinch-zoom>
      <p>
        На схеме показано местоположение в планировочной структуре села объектов
        и территорий, предлагаемых концепцией к постройке, реконструкции или
        комплексному развитию. Для 6 из них разработаны отдельные предложения, а
        именно для:
      </p>
      <ul>
        <li>
          кафе с ярмарочной площадью в связке с набережной р. Бугульдейки;
        </li>
        <li>главной площади;</li>
        <li>
          сельского клуба, фельдшерско-акушерского пункта и расположенных рядом
          детских и спортивных площадок;
        </li>
        <li>Староцерковного кладбища;</li>
        <li>
          ОКН «Дом жилой» по ул. Верховая, 11 (размещение арт-резиденции);
        </li>
        <li>верёвочного парка и смотровых площадок.</li>
      </ul>
      <p>Также предлагается разместить:</p>
      <ul>
        <li>модульный отель и глемпинг за пределами жилой застройки села;</li>
        <li>мобильный заготовительный цех;</li>
        <li>информационно-туристский центр;</li>
        <li>автозаправочную станцию для электромобилей.</li>
      </ul>
      <p>
        Для двух последних объектов уже выделены кадастровые участки
        соответствующего назначения.
      </p>
      <p>
        Также проектом предлагается реконструировать существующую детскую
        площадку по улице Верхний Захарик и произвести частичное водоснабжение
        от существующей скважины.
      </p>
    </div>
    <div class="subtitle">ФРАГМЕНТЫ</div>
    <div class="zoomBlock">
      <div class="title">Главная площадь села</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/Главная площадь.jpg')"
      >
        <img src="/assets/concept/Главная площадь.jpg" />
      </pinch-zoom>
      <p>
        Сейчас главная площадь Косой Степи не воспринимается как таковая.
        Утрачены важные элементы, которые ранее задавали характер места -
        церковь, бывшая значимой доминантой для села и окрестностей, и большое
        здание бывшей школы на пересечении улиц Верховая и Похарик, закрыт
        магазин. На площади отсутствует благоустройство, мемориал павшим в
        Великой Отечественной войне не привлекает должного внимания.
      </p>
      <p>
        Центр села, хорошо просматриваемый с дороги, должен привлекать туристов,
        побуждать остановиться и провести какое-то время здесь, но ныне не
        справляется с этой задачей, потому что не предлагает внятных сценариев
        для посетителей. Предложения, представленные в концепции, призваны
        разрешить эту проблему.
      </p>
      <ol>
        <li>
          Неиспользуемую ныне усадьбу со зданием бывшего магазина и небольшим
          амбаром предлагается приспособить под соответственно кафе и сувенирную
          лавку. Со стороны улицы устраивается летняя веранда, фотозона и
          парковка на 5 мест, из них 2 для МГН, а на огороженном участке
          располагается мощёный деревянным покрытием двор, который также может
          служить как летняя веранда кафе и место для проведения мероприятий, в
          задней части участка - небольшой огород для нужд кафе, и отдельно
          стоящий благоустроенный туалет, также приспособленный для МГН, к
          которому от настила ведёт дорожка. Возле туалета устраиваются зелёные
          насаждения.
        </li>
        <p>
          Кафе и лавка хорошо видны с трассы, и расположены прямо возле съезда в
          село. Таким образом, они служат первым “крючком” для посетителей.
        </p>
        <li>
          Утраченное здание школы воссоздаётся и используется в качестве
          многофункционального административно-общественного здания. Здесь могут
          быть расположены как различные учреждения, офисы, так и магазины,
          пункты проката спортивного инвентаря для туристов и т.д. На территорию
          школы предусмотрено 2 заезда - как со стороны улицы Верховой, так и с
          улицы Похарик.
        </li>
        <li>
          На непосредственно площади проект предусматривает 2 главные точки
          притяжения - мемориал сельчанам, павшим в Великой Отечественной войне,
          и церковь. Мемориал предлагается сделать более заметным, сформировав
          вокруг него круглое в плане пространство, через которое проходит
          мощёная камнем широкая дорожка, ведущая от перекрёстка через памятник
          к церкви. Дублирующая, более узкая тропинка, также ведущая к церкви в
          обход памятника, расположена вдоль ограждения жилой усадьбы по улице
          Верховой.
        </li>
      </ol>
      <p>
        Церковь предполагается к возведению на месте утраченного храма, и проект
        концепции предлагает 3 основных варианта:
      </p>
      <ul>
        <li>
          воссоздание оригинального храма или возведение на его месте большой
          деревянной церкви
        </li>
        <li>
          раскрытие и экспонирование фундаментов оригинальной постройки с
          возведением небольшой церкви на части этих фундаментов (именно этот
          вариант представлен на схеме генплана)
        </li>
        <li>
          возведение арт-объекта из современных материалов, копирующего формы
          утраченного храма или отсылающего к ним.
        </li>
      </ul>
      <p>
        К церкви также ведёт ещё одна тропинка с щебеночным покрытием, ведущая,
        однако, посетителей к главной площади не от центрального съезда, а от
        ярмарочного пространства.
      </p>
      <p>
        Вдоль тропинок установлены лавочки и информационные стенды. Возле
        мемориала и церкви предлагается также устроить зелёные насаждения.
      </p>
    </div>
    <div class="zoomBlock">
      <div class="title">Ярмарочная площадь</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/Ярмарочная площадь.jpg')"
      >
        <img src="/assets/concept/Ярмарочная площадь.jpg" />
      </pinch-zoom>
      <p>
        Ещё одно, в дополнение к главной площади села, обширное общественное
        пространство, предусмотренное для привлечения посетителей – кафе с
        ярмарочной площадью.
      </p>
      <p>
        Съезд на территорию расположен по той же стороне трассы, что и на
        главную площадь. На сегодняшний день кафе закрыто, однако продолжает
        привлекать внимание проезжающих, в связи с чем логичным видится
        возобновление его деятельности.
      </p>
      <p>
        Рядом с кафе предусмотрена большая (и с возможностью дальнейшего
        расширения) автопарковка на 16 мест, в т.ч. 4 для МГН, которая
        отделяется от кафе и от проезжей части клумбами.
      </p>
      <p>
        Возле кафе устраивается деревянный помост (летняя веранда), от которой
        отходит тропинка, ведущая к главной площади. Между помостом, проезжей
        частью и тропинкой устраивается щебёночное покрытие. Отдельного туалета
        на территории не предусмотрено, предполагается обустройство
        благоустроенного санузла внутри здания.
      </p>
      <p>
        Перед кафе устраивается ярмарочная площадь. Стационарные торговые места
        (9 шт.) устанавливаются на деревянном помосте, от которого отходят
        приподнятые (для защиты от подтопления, так как местность склонна к
        заболачиванию) деревянные дорожки в сторону реки Бугульдейки и к
        проезжей части, также устраивается покрытие и дорожки из щебня. На
        формируемой площади предлагается высадить ель, которая может украшаться
        к новогодним праздникам.
      </p>
      <p>
        Напротив кафе и вдоль ведущих к реке дорожек устанавливаются качели.
      </p>
      <p>
        На площадке возле реки Бугульдейки предлагается устроить минимально
        требуемое благоустройство: продлить тропинки с проектируемой ярмарочной
        площади (однако, не стоит доводить их до самой реки из-за разливов), и
        обустроить в 3 местах трёхъярусные скамейки-амфитеатры с насаждением
        рядом кустарников и невысоких деревьев для создания тени. Возможно
        возведение в прибрежной зоне временных конструкций (шатров, тентов и
        т.д.), обустройство зон отдыха с лежаками и т.п.
      </p>
      <p>
        Проектом предусмотрено также то, что мост через реку, расположенный в
        этом месте, будет использоваться для проезда автотранспорта для связи
        этой части села с Заречной стороной. Архитектурное и конструктивное
        решение моста должны быть разработаны в отдельном проекте.
      </p>
    </div>
    <div class="zoomBlock">
      <div class="title">
        Перенос фельдшерско-акушерского пункта и благоустройство территории
        сельского клуба
      </div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/ФАП и клуб.jpg')"
      >
        <img src="/assets/concept/ФАП и клуб.jpg" />
      </pinch-zoom>
      <p>
        Территория расположена по улице Верховой, недалеко от главной площади. В
        отличие от последней и ярмарочной площади с кафе, рассчитанных в том
        числе на привлечение туристов, здесь речь идёт об инфраструктуре прежде
        всего для жителей села.
      </p>
      <p>
        Благоустройство территории существующего сельского клуба предполагает
        следующее:
      </p>
      <ol>
        <li>
          Расширяется ограждение, так как сегодня не весь отведённый земельный
          участок используется для нужд учреждения. Въезд, как и калитка,
          расположен с улицы Верховой, но они отделены друг от друга.
        </li>
        <li>
          Перед зданием клуба устраивается палисадник с многолетними цветущими
          растениями.
        </li>
        <li>
          Устраивается отдельно стоящий благоустроенный туалет, также
          приспособленный для МГН, частично скрытый зелёными насаждениями
        </li>
        <li>
          В дальней части участка, не заметной с дороги, устраивается
          хозяйственный двор. Также у задней межи, но уже в просматриваемом с
          улицы месте, устраивается парковка на 3 машины, включая 1 для МГН.
          Проезд на парковку отделён от дворовой части клумбой
        </li>
        <li>
          На территории устраиваются дорожки с щебёночным покрытием, связывающие
          главный и хозяйственный входы с калиткой, туалетом и парковкой
        </li>
        <li>Рядом с клубом устанавливаются детские качели</li>
        <li>
          За проездом устраивается концертная сцена и переносные лавки для
          проведения мероприятий
        </li>
      </ol>
      <p>
        На соседний с клубом участок переносится с Заречной улицы бывшее здание
        Косостепского фельдшерско-акушерского пункта (ФАП). Попасть на его
        территорию можно как с улицы Верховой - через калитки перед главным
        входом либо боковую, через боковые ворота - на автотранспорте, так и с
        территории клуба, при помощи калитки недалеко от сцены.
      </p>
      <p>
        Территория ФАП обнесена невысоким лёгким ограждением, перед зданием -
        палисадник, справа от главного входа - зона парковки на 3 автомобиля,
        включая 1 для МГН.
      </p>
      <p>
        Так как переносимое здание сложно приспособить к современным требованиям
        для медицинских учреждений, вдоль задней межи предусмотрена установка
        быстровозводимого типового ФАП, а старое деревянное здание можно
        использовать как жилое (квартира фельдшера) или для иных вспомогательных
        целей.
      </p>
      <p>
        В углу участка устанавливается небольшая деревянная беседка для
        пациентов. Необходимо предусмотреть, чтобы растения, высаженные рядом,
        не являлись аллергенными.
      </p>
      <p>
        На участке предусмотрена гравийная отсыпка для движения автотранспорта и
        щебёночные дорожки для пешеходов. Последние связывают через территорию
        ФАП двор сельского клуба и детскую и спортивную площадки, на которые
        можно попасть через боковую калитку.
      </p>
      <p>
        На площадках предусмотрены игровые комплексы для детей дошкольного и
        младшего школьного возраста, а также спортивное снаряжение и
        оборудование, включая теннисный стол, площадка для пляжного волейбола,
        лавочки и благоустроенный туалет, приспособленный в том числе для МГН.
        Туалет частично скрыт зелёными насаждениями.
      </p>
      <p>
        Площадки огораживаются по периметру невысоким лёгким ограждением, в
        задней меже устраивается вторая калитка для выхода к реке.
      </p>
    </div>
    <div class="zoomBlock">
      <div class="title">
        Сохранение и развитие ОКН «Дом жилой», ул. Верховая, 11
      </div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="
          showImageZoomPopup('/assets/concept/Дом жилой Верховая,11.jpg')
        "
      >
        <img src="/assets/concept/Дом жилой Верховая,11.jpg" />
      </pinch-zoom>
      <p>
        Объект культурного наследия - дом №11 по улице Верховой - предлагается
        проектом превратить в арт-резиденцию. Такое решение продиктовано тем,
        что отведённый земельный участок слишком мал для полноценного ведения
        сельского хозяйства, в связи с чем дом сложно использовать как жилой.
      </p>
      <p>
        Дом предполагается отреставрировать. Его планировка из трёх отсеков с
        двумя входами позволяет совместить сразу несколько функций. Конкретные
        решения должны быть приняты в составе проекта реставрации.
      </p>
      <p>
        Второй дом на участке - двухэтажный, воссоздаётся по исторической
        фотографии. Его можно приспособить под гостевой.
      </p>
      <p>
        Функциональное зонирование участка в том числе продиктовано его сложной
        в плане формой. Так, вытянутая часть за двухэтажным домом предполагает
        большую приватность для постояльцев: там можно разместить беседку,
        барбекю, качели, зону отдыха и лавочку с видом на реку и окрестные
        холмы.
      </p>
      <p>
        Территория за главным одноэтажным домом – общественная. Сзади него
        возводится терраса, которая может служить сценой, дальше - большая
        беседка, которая может использоваться для проведения мастер-классов,
        пленеров, лекций и т.д. В дальней части участка располагается отдельно
        стоящий благоустроенный санузел, также приспособленный для МГН.
      </p>
      <p>
        На территории предусмотрено устройство зелёных насаждений - как деревьев
        и кустарников, так и неприхотливых в уходе клумб с многолетними
        цветущими растениями, отведено несколько мест для установки временных
        или постоянных инсталляций, выставок, а также отведено место для
        информационных стендов.
      </p>
      <p>
        На участок предусмотрено 3 входа и 3 въезда: рядом с гостевым домом -
        для постояльцев, с возможность припарковать машину в небольшом дворике,
        между двумя домами - также с одним машиноместом, и слева (по улице) от
        главного одноэтажного дома - с комфортной парковкой в общественной зоне
        усадьбы.
      </p>
      <p>
        Так как главная улица села хорошо освещена, на территории арт-резиденции
        предусмотрена только локальная вечерняя подсветка зданий, сооружений и
        объектов.
      </p>
    </div>
    <div class="zoomBlock">
      <div class="title">
        Сохранение и развитие территории ОКН «Староцерковное кладбище»
      </div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/Кладбище.jpg')"
      >
        <img src="/assets/concept/Кладбище.jpg" />
      </pinch-zoom>
      <p>
        Староцерковное кладбище расположено по другую сторону трассы от главной
        и ярмарочной площадей, но также может стать точкой притяжения как для
        местных жителей, так и для проезжающих. Во-первых, интерес представляет
        уникальность самого объекта - кладбища с сохранившимися старинными
        мраморными надгробиями. Во-вторых, его местоположение очень выигрышно,
        так как размещается объект на популярном направлении – по дороге на
        берег Байкала, в деревню Бугульдейка.
      </p>
      <p>
        Две главные проблемы, существующие сейчас – это доступ на территорию
        кладбища скота и незаметность самого объекта. В решении обеих из них
        поможет ограждение территории (устраивается по границам существующего
        кадастрового участка), а для маркирования этого места как потенциально
        интересного также предусмотрено возведение возле дороги, в углу участка
        небольшой беседки-часовни (по аналогу из п. Большие Коты). Через беседку
        в том числе устроен один из входов на кладбище (через южное и северное
        крыльца).
      </p>
      <p>
        Рядом с беседкой предусмотрено устройство деревянного помоста, установка
        лавочек и информационных щитов, а также посадка дерева - последнее
        подчеркнёт силуэт часовни и дополнительно привлечёт внимание. Через
        дорогу располагается большая парковка и отдельно стоящий благоустроенный
        туалет, приспособленный для МГН.
      </p>
      <p>
        Также предлагается разместить напротив кладбища, за парковкой, небольшую
        реставрационную базу для консервации и реставрации каменных надгробий.
        Для этого проект предусматривает ремонт и приспособление старого дома и
        возведение рядом с последним некапитального навеса с минимальным
        благоустройством прилегающей территории (устройство деревянного настила,
        отсыпка щебнем, установка лавочки и т.д.).
      </p>
    </div>
    <div class="zoomBlock">
      <div class="title">Развитие территории песчаного карьера</div>
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/Карьер.jpg')"
      >
        <img src="/assets/concept/Карьер.jpg" />
      </pinch-zoom>
      <p>
        В этом большом по площади фрагменте объединено 3 совершенно разных
        объекта: смотровая площадка, верёвочный парк и братская могила
        коммунистов и комсомольцев (последняя также является объектом
        культурного наследия регионального значения). К объектам ведут тропинки,
        выполненные из мелкого щебня.
      </p>
      <p>
        Верёвочный парк располагается недалеко от трассы, возле неиспользуемого
        песчаного карьера. Рядом расположена парковка на 6 машино-мест и
        отдельно стоящий благоустроенный туалет, приспособленный для МГН. В зоне
        парковки тропинка вымощена другим материалом для повышения внимания
        пешеходов. Также рядом с парковкой устраиваются небольшие клумбы.
      </p>
      <p>
        Возле верёвочного парка сооружается небольшой деревянный настил, на
        котором может быть организована необходимая для его деятельности:
        продажа билетов, еды и напитков, зона отдыха и ожидания и т.д.
      </p>
      <p>
        Отсыпанная щебнем тропинка, отклоняясь от трассы, далее ведёт вверх, и
        сопровождается каждые 3 метра подъёма небольшой смотровой площадкой.
        Далее тропинка раздваивается: одна её часть ведёт к небольшой
        беседке-геокуполу, вторая – к братской могиле. От неё тропинка проходит
        вдоль склона и доходит до небольшой смотровой площадки с деревянным
        настилом, откуда можно по верёвочной дороге можно спуститься к парку.
      </p>
    </div>
    <div class="subtitle">РАЗВЁРТКИ ПО УЛИЦАМ</div>
    <div>
      <p>
        Развёртки выполнены для того, чтобы наглядно показать, во-первых,
        проектируемый характер застройки улиц села, во-вторых, проиллюстрировать
        конкретные решения. Всего в проекте представлены чертежи 3 развёрток: 2
        – по обеим сторонам главной улицы села – Верховой, и 1 развёртка по
        улице Похарик.
      </p>
      <p>На чертежах отображены следующие идеи и предложения:</p>
      <ol>
        <li>
          Характер ограждений и малых форм. Так, для усадеб с историческими
          жилыми домами предлагается воссоздание либо ремонт традиционных
          заплотов, калиток и ворот, для домовладений с постройками более
          поздних периодов - более современные формы, с сохранением, однако,
          материала исполнения (дерево), а также пропорций и габаритов, близких
          к исторически сложившимся. Для общественных территорий, палисадников и
          покосов используются несплошные невысокие ограждения
        </li>
        <li>
          Восполнение лакун и нехарактерных даже для разреженной сельской
          застройки больших промежутков между существующими постройками при
          помощи воссоздания утраченных построек (как, к примеру, двухэтажный
          жилой дом на улице Верховой, зафиксированный на исторической
          фотографии) либо возведения новых, габаритами, внешним обликом и
          конструктивным исполнением напоминающих традиционные постройки этой
          местности. На чертежах развёрток эти постройки обозначены сплошной
          серой заливкой, за исключением здания бывшей школы - так как её
          воссоздание предполагается на основе подробных данных, включая обмеры
          остатков конструкций, и здания фельдшерско-акушерского пункта, перенос
          которого предусмотрен из другой части села.
        </li>
        <li>
          По возможности использование в новых постройках уличных входов, так
          как ранее в Косой Степи располагалось множество торговых лавок
        </li>
        <li>
          Ремонт (при необходимости) существующих построек и приведение их
          внешнего вида к единым стандартам, в том числе: сохранение
          традиционной расстекловки окон, устройство традиционной тёсовой кровли
          у объектов культурного наследия, использование деталей, характерных
          для местной традиционной архитектуры (фигурные дымники, простые
          рамочные наличники и т.д.)
        </li>
      </ol>
    </div>
    <div class="scan"><img src="/assets/concept/Развёртка 1.jpg" alt="" /></div>
    <div class="scan-title">Улица Верховая. Нечётная сторона</div>
    <div class="scan"><img src="/assets/concept/Развёртка 2.jpg" alt="" /></div>
    <div class="scan-title">Улица Верховая. Чётная сторона</div>
    <div class="scan"><img src="/assets/concept/Развёртка 3.jpg" alt="" /></div>
    <div class="scan-title">Улица Похарик. Чётная сторона</div>
    <div class="subtitle">
      3D ИЗОБРАЖЕНИЯ
      <p style="font-weight: 400">
        3D-визуализации предназначены показать типовые решения малых
        архитектурных форм, предлагаемых для села.
        <br />
        Все представленные объекты выполняются из дерева.
      </p>
    </div>
    <div class="zoomBlock">
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/Туалет чб.jpg')"
      >
        <img src="/assets/concept/Туалет чб.jpg" />
      </pinch-zoom>
      <p>
        <b>Типовой санузел</b>, установка которого предусмотрена в разных местах
        села. В основе объекта – универсальная кабина уборной с размерами
        внутреннего помещения 1,7х2,2 м. Прямоугольное в плане строение
        выполняется из бруса и перекрывается двускатной крышей. Цвет покрытия –
        зелёный – призван максимально замаскировать объект в среде. Минимальный
        декор (фигурные свесы стропил, профилированные наличники проёмов,
        крестообразное ограждение) выполняется в формах, близких к традиционным,
        но сознательно упрощается. Перед входом устраивается обширное крыльцо
        (по всей ширине строения), к которому ведёт пандус.
      </p>
    </div>
    <div class="zoomBlock">
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/прилавки чб.jpg')"
      >
        <img src="/assets/concept/прилавки чб.jpg" />
      </pinch-zoom>
      <p>
        <b>Прилавки для ярмарочной площади</b> выполнены на основе традиционного
        оснащения торговых площадей, имевшего распространение в Российской
        Империи рубежа 19 – 20 вв.
      </p>
    </div>
    <div class="zoomBlock">
      <pinch-zoom
        [disablePan]="false"
        [draggableImage]="true"
        [limitPan]="false"
        (click)="showImageZoomPopup('/assets/concept/кладбище МАФ чб.jpg')"
      >
        <img src="/assets/concept/кладбище МАФ чб.jpg" />
      </pinch-zoom>
      <p>
        <b>Скамейки и информационные щиты</b>, а также
        <b>ограждение для Староцерковного кладбища</b>. Скамейки и щиты
        выполняются в простых геометрических формах. Щиты, устанавливаемые возле
        ограждения кладбища, предлагается выполнить в максимально лаконичном
        виде, так как предполагается установка большого количества щитов с
        разнообразной информацией (история кладбища, список сохранившихся плит с
        расшифровками эпитафий, и т.д.). Ограждение кладбища, напротив, призвано
        привлечь внимание к территории, и его предлагается выполнить также в
        геометрических формах, но с минимальным пропильным и накладным декором,
        а оформление столбиков отсылает к т.н. «голубцам» – крышам на могильных
        или поклонных крестах.
      </p>
    </div>
    <div class="subtitle">АНАЛОГИ ЭЛЕМЕНТОВ</div>
    <div class="gallery">
      <div
        class="gallery--item"
        *ngFor="let item of getImageItems(galleries['analogs']); let i = index"
        [lightbox]="i"
        gallery="analogs"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb
                ? item.data.thumb
                : galleries['analogs'][i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>
    <div class="subtitle">БИЗНЕС-ПЛАНЫ И УКРУПНЁННЫЕ СМЕТЫ</div>
    <div class="plans">
      <a
        class="plans--item"
        target="_blank"
        *ngFor="let plan of plans"
        [href]="plan.href"
      >
        <img src="/assets/icon-pdf.jpg" alt="" /> <span>{{ plan.name }}</span>
      </a>
    </div>
  </div>
  <img class="lines" src="/assets/zagl_logo-lines.svg" alt="" />
  <h3>АВТОРСКИЙ КОЛЛЕКТИВ</h3>
  <div class="authors">
    <div class="creators">
      <div class="creators--item">Алёна Бобрышева</div>
      <div class="creators--item">Евгения Кузнецова</div>
      <div class="creators--item">Екатерина Матель</div>
    </div>
    <div class="workers">
      <div class="work">Исторические исследования</div>
      <div class="name">Игорь Жидиль</div>
      <div class="work">Социологические исследования</div>
      <div class="name">Татьяна Тимофеева</div>
      <div class="work">Эколого-географические исследования</div>
      <div class="name">
        Татьяна Заборцева <br />
        Оксана Евстропьева
      </div>
      <div class="work">Экономическая часть</div>
      <div class="name">
        Евгения Кензина <br />
        Дмитрий Годван
      </div>
      <div class="work" style="margin-left: -18px">
        Ортофотоплан и цифровая модель поверхности
      </div>
      <div class="name">Данил Колтович</div>
      <div class="work">Разработка сайта</div>
      <div class="name">Олег Паздников</div>
    </div>
  </div>
  <h3>БЛАГОДАРНОСТИ</h3>
  <div class="greats">
    Команда проекта благодарит администрацию Куретского МО и лично Алексея
    Копейкина, Татьяну Копылову, Аллу Мироненко, Ольгу Янковскую, Лидию
    Захарову, Ксению Пономарёву, Анастасию Хон, Сергея Мядзельца, Клавдию
    Платоновну Болотову, Светлану Дмитриевну Фрик, Наталью Николаевну Попову,
    Галину Фёдоровну Зеленину, Светлану Николаевну Рыкову, Татьяну Андреевну
    Зуеву, Снежану Попову, Солодова Дмитрия, Солодову Маргариту, Умского Андрея,
    Николая Рыкова, Александру Кушкову, Екатерину Довгий, Ирину Рябову, Алексея
    Чертилова, ТОС “Рассвет”, Центр независимых социальных исследований и лично
    Михаила Рожанского, Олесю Олеговну Резанову и Марину Леонидовну Адейкину,
    Елену Малышкину, Центр оперативной печати “Си-лайн” и лично Ярослава
    Овсянникова, а также Байкальский банк ПАО Сбербанк
  </div>
</div>
