<div class="concept page">
  <div class="image">
    <img src="/assets/concept/IMG_9649 1.jpg" alt="" />
  </div>

  <div class="text">
    <div class="title">ЧТО ТАКОЕ КОНЦЕПЦИЯ РАЗВИТИЯ?</div>
    <div class="description">
      Это набор решений, которые зададут направления для позитивных изменений в
      жизни села. Косая Степь обладает огромным потенциалом, который сейчас не
      используется. Концепция предлагает ряд идей, которые могут воплощать
      жители, местные власти или сторонние инвесторы.
    </div>
  </div>

  <div class="image"><img src="/assets/concept/IMG_9676 1.jpg" alt="" /></div>

  <div class="text">
    <div class="title">В ЧЁМ ЕЁ ОСНОВНАЯ ИДЕЯ?</div>
    <div class="description">
      “Всё начинается здесь” – эти слова действительное как нельзя лучше
      подходят к Косой Степи! Именно отсюда в 18 веке началось освоение русскими
      Приольхонья, а сейчас, в 21 столетии, Косая Степь – первый населённый
      пункт Ольхонского района, встречающий гостей по дороге на Байкал.
      <br /><br />
      Из-за того, что здесь пересекаются 2 тракта, старый, соединявший побережье
      озера с поселениями на Верхней Лене, и новый, проложенный уже в 20 веке до
      о. Ольхон, Косая Степь оказалась на своеобразном перекрёстке.
      Отправляетесь на Малое Море или Ольхон? Вам не минуть Косую Степь!
      Собрались в Бугульдейку, полюбоваться мраморным карьером? Не пропустите
      поворот, он, кстати, в Косой Степи. Хотите освоить старинный тракт и
      проехать до Манзурки, а то и до самого Верхоленска тем путём, которым не
      раз проезжали жители Иркутской губернии в прошлом? Езжайте по главной
      улице Косой Степи на север, и дальше, дальше по дороге...
      <br /><br />
      Постойте, а может, вам и не надо никуда ехать? И вы просто хотите
      отдохнуть, пособирать луговую клубнику (здесь эту ягоду называют просто
      “пёстрая”). собрать в лесу чернокислицу, поесть пряжеников? Заглянуть на
      староцерковное кладбище, полюбоваться на домики с резными наличниками и
      аккуратными палисадниками, посидеть за ткацким станком? Тогда заглядывайте
      в Косую Степь – путешествие начинается здесь!
    </div>
  </div>

  <div class="image"><img src="/assets/concept/IMG_0481 1.jpg" alt="" /></div>

  <div class="text">
    <div class="title">НА ЧЁМ ОСНОВАНА КОНЦЕПЦИЯ?</div>
    <div class="description">
      Проектной работе предшествовали разносторонние исследования села. Они
      помогли получить всестороннее представление о селе и его окружении,
      выявить потенциал для дальнейшего развития, наметить точки и смыслы,
      вокруг которых будет строиться будущая концепция или отдельные её
      элементы. В результате проведённых исследований были определены основные
      направления для работы над концепцией.
    </div>
  </div>

  <div class="research-docs" [class.expanded]="isExpandDocs">
    <!--    todo fill links-->
    <div class="research-docs--title" (click)="expandDocs()">
      Ознакомиться с результатами исследований
    </div>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Общая характеристика проведённых исследований</span
      >
    </a>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text">Историческая записка</span>
    </a>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Отчёт по результатам социологического исследования</span
      >
    </a>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Эколого-географическая характеристика территории села и его
        окружения</span
      > </a
    ><a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Отчёт о текущем социально-экономическом положении села</span
      >
    </a>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text">Альбом фотофиксации</span>
    </a>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Отчёт по результатам градостроительного обследования</span
      >
    </a>

    <div class="research-docs--subtitle">
      Кроме исследований перед разработкой проектных решений также была
      проведена ссесия соучаствующего проектирования с жителями села.
    </div>
    <a class="research-docs--item" href="">
      <div class="research-docs--icon">
        <img src="/assets/icon-pdf.jpg" alt="" />
      </div>
      <span class="research-docs--text"
        >Отчёт по результатам соучаствующего проектирования</span
      >
    </a>

    .
  </div>
</div>
