<div class="concept page">
  <div class="image">
    <img src="/assets/concept/IMG_9649 1.jpg" alt="" />
  </div>

  <div class="text">
    <div class="title">ЧТО ТАКОЕ КОНЦЕПЦИЯ РАЗВИТИЯ?</div>
    <div class="description">
      Это набор решений, которые зададут направления для позитивных изменений в
      жизни села. Косая Степь обладает огромным потенциалом, который сейчас не
      используется. Концепция предлагает ряд идей, которые могут воплощать
      жители, местные власти или сторонние инвесторы.
    </div>
  </div>

  <div class="image"><img src="/assets/concept/IMG_9676 1.jpg" alt="" /></div>

  <div class="text">
    <div class="title">В ЧЁМ ЕЁ ОСНОВНАЯ ИДЕЯ?</div>
    <div class="description">
      “Всё начинается здесь” – эти слова действительное как нельзя лучше
      подходят к Косой Степи! Именно отсюда в 18 веке началось освоение русскими
      Приольхонья, а сейчас, в 21 столетии, Косая Степь – первый населённый
      пункт Ольхонского района, встречающий гостей по дороге на Байкал.
      <br /><br />
      Из-за того, что здесь пересекаются 2 тракта, старый, соединявший побережье
      озера с поселениями на Верхней Лене, и новый, проложенный уже в 20 веке до
      о. Ольхон, Косая Степь оказалась на своеобразном перекрёстке.
      Отправляетесь на Малое Море или Ольхон? Вам не минуть Косую Степь!
      Собрались в Бугульдейку, полюбоваться мраморным карьером? Не пропустите
      поворот, он, кстати, в Косой Степи. Хотите освоить старинный тракт и
      проехать до Манзурки, а то и до самого Верхоленска тем путём, которым не
      раз проезжали жители Иркутской губернии в прошлом? Езжайте по главной
      улице Косой Степи на север, и дальше, дальше по дороге...
      <br /><br />
      Постойте, а может, вам и не надо никуда ехать? И вы просто хотите
      отдохнуть, пособирать луговую клубнику (здесь эту ягоду называют просто
      “пёстрая”). собрать в лесу чернокислицу, поесть пряжеников? Заглянуть на
      староцерковное кладбище, полюбоваться на домики с резными наличниками и
      аккуратными палисадниками, посидеть за ткацким станком? Тогда заглядывайте
      в Косую Степь – путешествие начинается здесь!
    </div>
  </div>

  <div class="image"><img src="/assets/concept/IMG_0481 1.jpg" alt="" /></div>

  <div class="text">
    <div class="title">НА ЧЁМ ОСНОВАНА КОНЦЕПЦИЯ?</div>
    <div class="description">
      Проектной работе предшествовали разносторонние исследования села. Они
      помогли получить всестороннее представление о селе и его окружении,
      выявить потенциал для дальнейшего развития, наметить точки и смыслы,
      вокруг которых будет строиться будущая концепция или отдельные её
      элементы. В результате проведённых исследований были определены основные
      направления для работы над концепцией.
    </div>
  </div>

  <div class="research-docs" [class.expanded]="isExpandDocs">
    <div class="research-docs--title" (click)="toggleExpandDocs()">
      <div>Ознакомиться с результатами исследований</div>
      <div class="arrow"></div>
    </div>
    <a
      class="research-docs--item"
      [href]="research.href"
      *ngFor="let research of researches"
    >
      <img src="/assets/icon-pdf.jpg" alt="" />
      <span class="research-docs--text">{{ research.name }}</span>
    </a>
  </div>

  <div class="research-docs expanded">
    <div class="research-docs--subtitle">
      Кроме исследований перед разработкой проектных решений также была
      проведена ссесия соучаствующего проектирования с жителями села.
    </div>
    <a
      class="research-docs--item"
      target="_blank"
      href="/assets/concept/Отчет_о_соучаствующем_проектировании.pdf"
    >
      <img src="/assets/icon-pdf.jpg" alt="" />
      <span class="research-docs--text"
        >Отчёт по результатам соучаствующего проектирования</span
      >
    </a>
  </div>

  <div class="gallery" style="margin-bottom: 80px">
    <div
      class="gallery--item"
      *ngFor="let item of getImageItems(galleries['reports']); let i = index"
      [lightbox]="i"
      gallery="reports"
    >
      <div
        class="gallery--image"
        [style]="{
          backgroundImage:
            'url(' +
            (item.data.thumb ? item.data.thumb : galleries['reports'][i].src) +
            ')'
        }"
      ></div>
      <div class="gallery--item__title" *ngIf="item.data.alt">
        {{ item.data.alt }}
      </div>
    </div>
  </div>

  <div class="image"><img src="/assets/concept/IMG_9733 1.jpg" alt="" /></div>

  <div class="project-materials">
    <div class="title">ПРОЕКТНЫЕ МАТЕРИАЛЫ</div>

    <div class="subtitle">ОБЩИЕ СХЕМЫ</div>

    <div class="gallery">
      <div
        class="gallery--item"
        *ngFor="let item of getImageItems(galleries['schemas']); let i = index"
        [lightbox]="i"
        gallery="schemas"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb
                ? item.data.thumb
                : galleries['schemas'][i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>

    <div class="subtitle">ФРАГМЕНТЫ</div>

    <div class="gallery">
      <div
        class="gallery--item"
        *ngFor="
          let item of getImageItems(galleries['fragments']);
          let i = index
        "
        [lightbox]="i"
        gallery="fragments"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb
                ? item.data.thumb
                : galleries['fragments'][i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>

    <div class="subtitle">РАЗВЁРТКИ ПО УЛИЦАМ</div>
    <div>
      <p>
        Развёртки выполнены для того, чтобы наглядно показать, во-первых,
        проектируемый характер застройки улиц села, во-вторых, проиллюстрировать
        конкретные решения. Всего в проекте представлены чертежи 3 развёрток: 2
        – по обеим сторонам главной улицы села – Верховой, и 1 развёртка по
        улице Похарик.
      </p>
      <p>На чертежах отображены следующие идеи и предложения:</p>
      <ol>
        <li>
          Характер ограждений и малых форм. Так, для усадеб с историческими
          жилыми домами предлагается воссоздание либо ремонт традиционных
          заплотов, калиток и ворот, для домовладений с постройками более
          поздних периодов - более современные формы, с сохранением, однако,
          материала исполнения (дерево), а также пропорций и габаритов, близких
          к исторически сложившимся. Для общественных территорий, палисадников и
          покосов используются несплошные невысокие ограждения
        </li>
        <li>
          Восполнение лакун и нехарактерных даже для разреженной сельской
          застройки больших промежутков между существующими постройками при
          помощи воссоздания утраченных построек (как, к примеру, двухэтажный
          жилой дом на улице Верховой, зафиксированный на исторической
          фотографии) либо возведения новых, габаритами, внешним обликом и
          конструктивным исполнением напоминающих традиционные постройки этой
          местности. На чертежах развёрток эти постройки обозначены сплошной
          серой заливкой, за исключением здания бывшей школы - так как её
          воссоздание предполагается на основе подробных данных, включая обмеры
          остатков конструкций, и здания фельдшерско-акушерского пункта, перенос
          которого предусмотрен из другой части села.
        </li>
        <li>
          По возможности использование в новых постройках уличных входов, так
          как ранее в Косой Степи располагалось множество торговых лавок
        </li>
        <li>
          Ремонт (при необходимости) существующих построек и приведение их
          внешнего вида к единым стандартам, в том числе: сохранение
          традиционной расстекловки окон, устройство традиционной тёсовой кровли
          у объектов культурного наследия, использование деталей, характерных
          для местной традиционной архитектуры (фигурные дымники, простые
          рамочные наличники и т.д.)
        </li>
      </ol>
    </div>
    <div class="scan">
      <img src="/assets/concept/Развёртка 1.jpg" alt="" />
    </div>
    <div class="scan-title">Улица Верховая. Нечётная сторона</div>

    <div class="scan">
      <img src="/assets/concept/Развёртка 2.jpg" alt="" />
    </div>
    <div class="scan-title">Улица Верховая. Чётная сторона</div>

    <div class="scan">
      <img src="/assets/concept/Развёртка 3.jpg" alt="" />
    </div>
    <div class="scan-title">Улица Похарик. Чётная сторона</div>

    <div class="subtitle">3D ИЗОБРАЖЕНИЯ</div>
    <div class="gallery">
      <div
        class="gallery--item"
        *ngFor="let item of getImageItems(galleries['_3ds']); let i = index"
        [lightbox]="i"
        gallery="_3ds"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb ? item.data.thumb : galleries['_3ds'][i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>

    <div class="subtitle">АНАЛОГИ ЭЛЕМЕНТОВ</div>
    <div class="gallery">
      <div
        class="gallery--item"
        *ngFor="let item of getImageItems(galleries['analogs']); let i = index"
        [lightbox]="i"
        gallery="analogs"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb
                ? item.data.thumb
                : galleries['analogs'][i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>

    <div class="subtitle">БИЗНЕС-ПЛАНЫ И УКРУПНЁННЫЕ СМЕТЫ</div>
    <div class="plans">
      <a
        class="plans--item"
        target="_blank"
        *ngFor="let plan of plans"
        [href]="plan.href"
      >
        <img src="/assets/icon-pdf.jpg" alt="" />
        <span>{{ plan.name }}</span>
      </a>
    </div>
  </div>

  <img class="lines" src="/assets/zagl_logo-lines.svg" alt="" />

  <h3>АВТОРСКИЙ КОЛЛЕКТИВ</h3>
  <div class="authors">
    <div class="creators">
      <div class="creators--item">Алёна Бобрышева</div>
      <div class="creators--item">Евгения Кузнецова</div>
      <div class="creators--item">Екатерина Матель</div>
    </div>
    <div class="workers">
      <div class="work">Исторические исследования</div>
      <div class="name">Игорь Жидиль</div>
      <div class="work">Социологические исследования</div>
      <div class="name">Татьяна Тимофеева</div>
      <div class="work">Эколого-географические исследования</div>
      <div class="name">
        Татьяна Заборцева <br />
        Оксана Евстропьева
      </div>
      <div class="work">Экономическая часть</div>
      <div class="name">
        Евгения Кензина <br />
        Дмитрий Годван
      </div>
      <div class="work" style="margin-left: -18px">
        Ортофотоплан и цифровая модель поверхности
      </div>
      <div class="name">Данил Колтович</div>
      <div class="work">Разработка сайта</div>
      <div class="name">Олег Паздников</div>
    </div>
  </div>
  <h3>БЛАГОДАРНОСТИ</h3>

  <div class="greats">
    Команда проекта благодарит администрацию Куретского МО и лично Алексея
    Копейкина, Татьяну Копылову, Аллу Мироненко, Ольгу Янковскую, Лидию
    Захарову, Ксению Пономарёву, Анастасию Хон, Сергея Мядзельца, Клавдию
    Платоновну Болотову, Светлану Дмитриевну Фрик, Наталью Николаевну Попову,
    Галину Фёдоровну Зеленину, Светлану Николаевну Рыкову, Татьяну Андреевну
    Зуеву, Снежану Попову, Солодова Дмитрия, Солодову Маргариту, Умского Андрея,
    Николая Рыкова, Александру Кушкову, Екатерину Довгий, Ирину Рябову, Алексея
    Чертилова, ТОС “Рассвет”, Центр независимых социальных исследований и лично
    Михаила Рожанского, Олесю Олеговну Резанову и Марину Леонидовну Адейкину,
    Елену Малышкину, Центр оперативной печати “Си-лайн” и лично Ярослава
    Овсянникова, а также Байкальский банк ПАО Сбербанк
  </div>
</div>
