<div class="page news">
  <div class="first-row">
    <img src="/assets/news/news0.jpg" alt="" />
    <div class="description">
      <div class="date">30.12.2022</div>
      <div class="title">Итоги 2022 года</div>
      <div class="text">Как прошёл и чем запомнился прошедший год?</div>
    </div>
  </div>

  <div class="news" *ngFor="let news of newsList; let n = index">
    <div class="title">{{ news.title }}</div>
    <div class="gallery" *ngIf="news.images">
      <div
        class="gallery--item"
        *ngFor="let item of getImageItems(news.images); let i = index"
        [lightbox]="i"
        [gallery]="'news_' + n"
      >
        <div
          class="gallery--image"
          [style]="{
            backgroundImage:
              'url(' +
              (item.data.thumb ? item.data.thumb : news.images[i].src) +
              ')'
          }"
        ></div>
        <div class="gallery--title" *ngIf="item.data.alt">
          {{ item.data.alt }}
        </div>
      </div>
    </div>
    <div class="description" [innerHTML]="news.description"></div>
    <div class="files" *ngFor="let file of news.files">
      <a [href]="file.href" target="_blank">
        <img [src]="file.icon" alt="" />
        <span>{{ file.text }}</span>
      </a>
    </div>
  </div>
</div>
